.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div.appbar{
  height: 40px;
  padding-top:5px;
    border-bottom: 1px solid #cc168d;
    margin-bottom: 5px;
}

div.appbar > a{
  text-decoration: none;
  /*text-transform: uppercase;*/
    margin:20px;
    color: #cc168d;
}

.divTab{
    padding: 10px;
}

.dashboards{
    width: 40%;
    border-right:1px solid #cc168d;
    padding:5px;
    color: #cc168d;
    float: left;
    height: 100%;
}



.dashboardItems{
    width: 60%;
    padding:5px;
    color: #cc168d;
}

.dashboardItem{
    margin: 10px;
    color: #327dcc;
}

.fullList{
    width: 765px;

}

.avatar-list, .app-color{
    background-color:#cc168d;
    color:#FFFFFF;
    width: 150px;
}

.app-info{
    margin-top:30px;
}

.dashboard-list{
    margin-bottom: 70px;
    height:250px;
}

.MuiAppBar-colorPrimary-8 {
    color: #fff;
    background-color: #cc168d;
}

.step-action{
    margin-top:65px;
}

.card-header{
    margin-bottom: 5px;
    margin-top: 5px;
    /*background-color: #cde1f5;*/
    padding-top: 5px;
    padding-bottom: 5px;
}

.smart-div{
    margin:20px;
}

.app-header{
    margin-bottom: 30px;

}

.slide-preview{
    height:95%;
}

.info-header{
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #3f51b5;

}

.slide-preview-header, .MuiTypography-root-95, .MuiTypography-headline-100,.MuiCardHeader-title-332{
    font-size: 0.5em;
    /*font-weight: bold;*/
}

.display-info{
    margin-top: 50px;
    text-align: center;
    font-size: 1.2em;
}

.slide-content{
    width: 100%;
    margin-top:15px;
    /*background-color: #cc168d;*/
}

.slide{
    /*border: 1px solid orangered;*/
    width:100%;
}

.deck, spectacle-deck{
    border: 5px solid #cc168d;
    margin-top: 50px;
}

.grid-content{
    border: 1px solid deeppink;
    width:800px;
}

.main-content{
    margin-top: 48px;
    /*background-color: #327dcc;*/
}

.app-header{
    background-color: #276696;
    height: 48px;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    right: 0;
}

.start{
    margin:20px;
}


table.listTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.listTable td, table.listTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.listTable tbody td {
    font-size: 13px;
}
table.listTable tr:nth-child(even) {
    background: #D0E4F5;
}
table.listTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}
table.listTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}
table.listTable thead th:first-child {
    border-left: none;
}

table.listTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
}
table.listTable tfoot td {
    font-size: 14px;
}
table.listTable tfoot .links {
    text-align: right;
}
table.listTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

.app-info{
    text-align: center;
    text-transform: uppercase;
    /* font-family: monospace; */
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #4389d2;
    font-weight: normal;
    margin-top: 150px;
}

.spectacle-slide{
    top: 25px;
}
